/* barra de cliente */
.barra-cliente{
    background: linear-gradient(rgb(0, 0, 0),rgb(1, 8, 41));
    color: white;
    padding: 10px;
}

.barra-cliente a{
    text-decoration: none;
    color: #0087D2;
}
.barra-cliente a:hover{
    color: rgb(253, 253, 253);
}

.dropdown-menu a{    
    text-decoration: none;
    color:black
}
.dropdown-menu a:hover{
    color: whitesmoke;
    background-color: rgb(2, 2, 34);
    
}